<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <h1>vous etes connecté en tant que <%= name %> !</h1>
    <ul>
      <% if (admin === 1) { %>
      <li>
        <a href="/admin"><b>Page d'administration</b></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
