<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <link rel="stylesheet" href="../login.css" />
  </head>
  <body>
    <h1>Bonjour <%= name %> !</h1>
    <h2>Register</h2>

    <form action="/user/register" method="post">
      <label for="email">addresse mail</label> <br />
      <input type="email" id="mail" name="mail" /> <br />
      <label for="password">mot de passe</label> <br />
      <input type="password" id="password" name="password" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
